<div class="form-wrapper">
  <div class="container">
    <%= form_for(@user) do |f| %>
      <p>新規登録</p>
      <%= f.text_field :name, placeholder: "Username" %>
      <%= f.text_field :email, placeholder: "Email" %>
      <%= f.password_field :password, placeholder: "Password" %>
      <%= f.submit value: "登録", data: { disable_with: "登録" } %>
    <% end %>
  </div>
</div>

