<div class="show-wrapper">
  <div class="container">
    <div class="profile">
      <div class="profile-left">
        <%= link_to(image_tag("/#{@user.image_name}"), user_path(@user)) %>
      </div>
      <div class="profile-right">
        <%= link_to(@user.name, user_path(@user)) %>
        <p><%= @user.bio %></p>
      </div>
      <div class="profile-bottom">
        <%= link_to("ユーザー一覧へ", users_path) %>
        <% if current_user==@user %>
          <%= link_to("編集", edit_user_path(@user)) %>
        <% end %>
      </div>
    </div>
  </div>
</div>
