<header>
  <div class="container">
    <div class="header-left">
      <%= link_to("Tweetless", root_path) %>
    </div>
    <div class="header-right">
      <% if current_user.nil? %>
        <%= link_to("新規登録", new_user_path) %><!--
     --><%= link_to("ログイン", login_path) %>
      <% else %>
        <%= link_to("マイページ", user_path(current_user)) %><!--
     --><%= link_to("ログアウト", logout_path, method: :delete) %>
      <% end %>
    </div>
  </div>
</header>
